*{
    margin:0;
    padding:0;
    background-color:black;



}

body {
    height:50%;
    font-family:"Lucia Sans", "Lucia Sans Regular", "Lucia Grande", "Lucia Sans Unicode", Geneva, Verdana, sans-serif;
    align-items:center;
}

#container {
    display:flex;
    /*background-color: black;
    /*height: 100%;*/
    align-items:center;
    flex-direction: column;

}
#game {
    height:100%;
    width:100%;
    max-width:500px;
    display:flex;
    flex-direction:column;
    align-items:center;

}

header {
    border-bottom: 1px solid rgb(58,58,68);
    /*margin-bottom:50px;*/
}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    font-family:"Lucia Sans", "Lucia Sans Regular", "Lucia Grande", "Lucia Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-grow:1;
    overflow:hidden;
}

#board {
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square{
    border:2px solid rgb(58,58,60);
    min-width:60px;
    min-height:60px;
    font-size:40px;
    font-weight:bold;
    color:gainsboro;
    text-transform:uppercase;
    display:flex;
    justify-content:center;
    align-items:center;
}

#keyboard-container {
    height:200px;
}

#keyboard-row{
    display:flex;
    justify-content:center;
    width:100%;
    margin:0 auto 8px;
    touch-action:manipulation;
}

.keyboard-row button {
    font-family:inherit;
    font-weight:bold;
    border:0;
    padding:15px;
    height:50px;
    cursor:pointer;
    background-color:rgb(129,131,132);
    color:rgb(215,218,220);
    flex-grow:0;
    /*margin-right:6px;*/
    border-radius:4px;
    user-select:none;
}


.keyboard-row button.wide-button{
    flex-grow:1;

}

.spacer-half{
    /*flex-grow:0;*/
    height:5px;
    color:rgb(100,0,0);
}
